.io {
    width: 50em;
    height: 5em;
    resize: none;
    color: #FFF;
    background-color: #000;
}

#main{
    width: 100%;
    height: 300px;
    background-color: #121211;
    border: 1px solid #DDDDD1;
}

#main_image{
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#username {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: #85bf25;
    color: #FFF;
    padding: 5px;
}

.view {
    background-color: #121211;
    color: #FFF;
    width: 100%;
    //height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.small {
    width: 90px;
    height: 90px;
}

.focus {
     width: 90px;
    height: 90px;
    border: 1px solid #85bf25;
}

.large {
    width: 270px;
    display: block;
}

body {
    background-color: #121211;
    color: #DDDDD1;
}

p {
    font-family:"Segoe UI Emoji", Arial;
    font-size: 2em;
}

@font-face {
    font-family: 'Symbola';
    src: url('Symbola.ttf') format('ttf');
}