.io {
    width: 50em;
    height: 5em;
    resize: none;
    color: #FFF;
    background-color: #000;
}
.view {
    background-color: #777;
    color: #FFF;
    width: 100%;
    height: 200 px;
    margin-left: auto;
    margin-right: auto;
}

.small {
    width: 90px;
    height: 90px;
}

.focus {
     width: 90px;
    height: 90px;
    border: 1px solid #85bf25;
}

.large {
    width: 270px;
    display: block;
}

body {
    background-color: #121211;
    color: #DDDDD1;
}

p {
    font-family: "Segoe UI Symbol", Arial;
    font-size: 3em;
}